	<div class="mainFooterBox">
		<div class="footer">
			<div class="container is-fluid">
				footer information
				<div>
					social media
				</div>
				<div>
					&copy; 2017 | header photo by <a href="https://unsplash.com/search/photos/nature?photo=4k-U1Wp2d00">Ales Krivec</a> on Unsplash
				</div>
			</div>
		</div>
	</div>
</body>
</html>