<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bulma.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="topBar">
			<div class="container is-fluid">
				
				<nav class="navbar" role="navigation" aria-label="main navigation">
				  <div class="navbar-brand">
				    <a class="navbar-item" href="/">
				      <img src="/img/AT.png"  class="logo" alt="Apple Trails: hiking trails of new york"> <span>Apple<strong>Trails</strong></span>
				    </a>
				  </div>
				</nav>
				</div>
		</div>