<% include ./partials/header %>

<div class="searchform">
	<form action="/locations" method="post" >
		<div class="searchInfo">
			<label>Park Name:<input type="text" name="parkName" value=""></label>
		</div>
		<button class="is-primary">search</button>
	</form>
</div>


<% include ./partials/footer %>